.heading {
  font-style: normal;
  color: var(--text-color);
  font-weight: 500;
}

.heading--md {
  font-size: 42px;
  line-height: 119.048%;
}

.heading--lg {
  font-size: 48px;
  line-height: 116.667%;
  letter-spacing: -2px;
}
