.office-feature {
  padding-top: 120px;
}

.office-feature__container {
  display: flex;
  gap: 130px;
  position: relative;
}

.office-feature__left {
  padding-bottom: 120px;
}

.office-feature__img {
  width: 670px;
  height: 500px;
  border-radius: 20px;
}

.office-feature__info {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 25px;
}

.office-feature__address {
  letter-spacing: -1px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.455%; /* 145.455% */
  letter-spacing: -1px;
}

.office-feature__price {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.455%; /* 145.455% */
  letter-spacing: -1px;
  color: var(--sub-text-color);
}

.office-feature__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  letter-spacing: -0.3px;
  color: var(--sub-text-color);
  padding-right: 130px;
}

.office-feature__right {
}

.office-feature__title {
  letter-spacing: -0.84px;
}

.office-feature__description-2 {
  margin: 40px 0 60px;
  padding-right: 20px;
  p {
    color: var(--sub-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%; /* 155.556% */
    letter-spacing: -0.3px;
  }
}

.office-feature__view-all {
  display: flex;
  gap: 10px;
}

.office-feature__view-title {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 171.429%; /* 160% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: var(--text-color-purple);
}

.office-feature__icon {
}

.office-feature__direct-btn {
  display: flex;
  gap: 15px;
  margin-top: 98px;

  .office-feature__btn-left {
  }

  .office-feature__btn-right {
    img {
      &:hover {
        cursor: pointer;
        fill: var(#fff);
        filter: drop-shadow(0px 20px 50px rgba(79, 119, 255, 0.2));
        border-radius: 50%;
        border: 1px solid #fff;
      }
    }
  }
}

.office-feature__union {
  position: absolute;
  top: 440px;
  left: -70px;
}
