.services {
  padding-top: 120px;
  position: relative;
}

.services__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.services__content-title {
  padding: 0 180px;
  text-transform: capitalize;
}

.services__content-description {
  color: var(--sub-text-color);
  font-family: " DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.3px;
}

.services__card {
  margin-top: 80px;
  justify-content: center;
  gap: 30px;
}

.services__card-item {
  border: 1px solid var(--lines-gray-line);
  width: 370px;
  height: 330px;
  border-radius: 12px;

  &:hover {
    box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
    cursor: pointer;
  }

  .services__card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .services__card-img {
      padding-top: 10px;
    }
    .services__card-title {
      margin: 38px 0 20px;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 145.455%; /* 145.455% */
      letter-spacing: -1px;
    }
    .services__card-description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 162.5%; /* 162.5% */
      color: var(--sub-text-color);
      width: 270px;
      margin-bottom: 64px;
    }
  }
}

.services__btn-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.services__uinion {
  position: absolute;
  top: 640px;
  right: -54px;
}
