h1 {
 span{ 
  background: linear-gradient(to bottom, #61dcdf 0%, #886cff 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;}
}

h2 {
  span{ 
   background: linear-gradient(to bottom, #61dcdf 0%, #886cff 100%);
   -webkit-background-clip: text;
   color: transparent;
   font-weight: 500;}
 }
